body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    background-color: #f7f7f7;
    padding: 1em;
    margin: 1em;
    width: 40%;
}

h2 {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

td button {
    margin: 0.5em;
}

td button[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

td button[type="submit"]:hover {
    background-color: #cc0000;
}

td a {
    text-decoration: none;
    color: #0e0a0a;
}

td a:hover {
    color: #000101;
}