<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despensa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Despensa</h1>
    </header>
    <main>
        <section id="presentes">
            <h2>Itens Presentes</h2>
            <table id="presentes-table">
            <tr>
                <th>Item</th>
                <!-- <th>Quantidade</th> -->
                <th>Ações</th>
            </tr>
            {% for item in item_list %}
            <tr>
                <td>{{ item.name }} - {{ item.quantity }} unidade(s)</td>
                <!-- <td><button>Alterar quantidade</button></td> -->
                <td>
                    <button class="btn btn-danger" type="submit" onclick="return confirm('Você tem certeza que deseja excluir o item {{ item.name }}')"><a href="{{ url_for('delete_item', item_id=item.id) }}">Excluir item</a></button>
                    <button class="btn btn-warning">alterar item/quantidade</button>
                </td>
            </tr>
            {% endfor %}
            </table>
            <button><a href="{{ url_for('add_item_form') }}">adicionar item</a></button>
        </section>
    </main>
</body>
</html>